{% load static %}
<link rel="stylesheet" href="{% static 'css/burger.css' %}" />
<div class="menu-burger">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15">
        <g>
            <title>background</title>
            <rect fill="none" id="canvas_background" height="17" width="22" y="-1" x="-1"></rect>
            <g display="none" overflow="visible" id="canvasGrid">
                <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"></rect>/
            </g>
        </g>
        <g>
            <title>Layer 1</title>
            <line transform="rotate(-0.02125733532011509 22.49935531613637,29.27203369140392) "
                  id="svg_5" y2="29.272033" x2="45.968703" y1="29.272033" x1="-0.969996" stroke-width="1.5" stroke="#ffffff" fill="none"></line>
            <line transform="rotate(-0.5348567962646484 9.61661434173584,14.298030376434326)"
                  id="svg_9" y2="14.393877" x2="19.999997" y1="14.202184" x1="-0.766768" stroke-width="1.5" stroke="#ffffff" fill="none"></line>
            <line transform="rotate(-0.5348567962646484 9.68051242828371,0.6878128051758069) "
                  id="svg_6" y2="0.783659" x2="20.063895" y1="0.591966" x1="-0.702871" stroke-width="1.5" stroke="#ffffff" fill="none"></line>
            <line transform="rotate(-0.5348567962646484 9.616614341735678,7.333177566528469) "
                  id="svg_11" y2="7.429024" x2="19.999997" y1="7.237331" x1="-0.766768" stroke-width="1.5" stroke="#ffffff" fill="none"></line>
        </g>
    </svg>
</div>