.search_form {
    width: 680px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;

    form {
        display: flex;
        position: relative;
        height: 40px;
        width: 100%;
    }
    &__container_first {
        display: block;
        width: 38px;
        height: 40px;
        background-color: #2f7bec;

        div[class="add_search"] {
            width: 50px;
            height: 40px;
            position: relative;

            svg {
                display: block;
                width: 50px;
                height: 40px;
            }
        }
    }
    &__container_last {
        position: relative;
        width: 100%;

        input[type="text"] {
            color: var(--ytd-searchbox-text-color);
            width: 100%;
            padding: 0 66px 0 16px;

            height: 40px;
            border-radius: 40px;
            border: 1px ridge #3a3939;
            background-color: #121212;
            font-size: 1.35em;

            &:focus {
                border: 1px ridge #2f7bec;
            }
        }
        button[type="submit"] {
            position: absolute;
            right: 0;
            height: 40px;
            width: 64px;

            .svg_button {
                display: block;
                width: 64px;
                height: 40px;
                border: 1px ridge #3a3939;
                border-radius: 0 36px 36px 0;
                pointer-events: none;
                background-color: #262323;
            }
        }
        .cross {
            position: absolute;
            right: 60px;
            z-index: 3;

            font-size: 35px;
            color: #b2b2b2;
            background: transparent;
            padding: 0 10px;
            border-radius: 50%;

            &:hover {
                //background-color: #c0bfbf;
            }
        }
    }
}
@media (max-width: 767px) {}